.whyWeb3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
  background-color: #f9f9f9;
  text-align: center;

  .content {
    width: 100%;

    h2 {
      font-size: 2rem;

      span {
        color: #0bb15e;
      }
    }

    p {
      margin: 1rem auto;
      max-width: 500px;
    }

    button {
      background-color: #0bb15e;
      color: white;
      padding: 0.7rem 1.5rem;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      margin-top: 1rem;
    }
  }

  img {
    margin-top: 2rem;
    width: 80%;
    max-width: 350px;
    border-radius: 8px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    text-align: left;

    .content {
      flex: 1;
      padding-right: 2rem;
    }

    img {
      flex: 1;
      width: 100%;
      max-width: 350px;
      margin-top: 0;
    }
  }
}
